body{
    background-color: cornsilk;
    color: blue;
    text-align: center;
    font-family: sans-serif;
}

#map-canvas{
    border-style: groove;
    border-radius: 5%;
    border-color: white;
}

.container{
    display: flex;
    flex-direction: row;
}

#newCrimeForm{
    border-style: groove;
    border-radius: 5%;
    border-color: white;
}

input, select, textarea{
    display: block;
}